@media (min-width:720px) {
    .about-grid-about {
        width: 50%;
        height: 100%;
    }
    .about-grid-contact {
        width: 50%;
        height: 100%;
    }
    .about-block-full {
        width: 100%;
        height: 100%;
        background-color: blue;
    }
    .about-block-suspended {
        width: 80%;
        height: 90%;
        border: 2px solid white;
    }
    .over-map {
        padding-top: 10%;
        padding-bottom: 0;
        height: 90%;
        width: 100%;
    }
    .contact-us {
        height: 85%;
        width: 70%;
        text-align: center;
        border: 2px rgb(211, 211, 211) solid;
        transition: transform 250ms, border 300ms ease-in-out;
        border-radius: 2px;
        display: block;
        overflow: hidden;
    }
    .contact-us h2 {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 30px;
        color: white;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.596);
    }
    .about-paragraph {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        line-height: 40px;
        font-weight: 300;
        color: white;
        margin-right: 5%;
        margin-left: 5%;
    }
    .contact-form {
        padding-top: 10%;
        height: 100%;
        width: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.425);
    }
    .contact-form-input {
        display: block;
        width: 100%;
        margin-bottom: 5%;
        text-align: left;
    }
    .contact-form-input label {
        display: block;
        width: 80%;
        font-family: 'Lato', sans-serif;
        color: white;
        font-weight: 100;
        margin-bottom: 3%;
        font-size: 20px;
    }
    .contact-form-input input[type=text], textarea {
        width: 100%;
        height: 25px;
        border: none;
        background-color: transparent;
        border-bottom: 1px white solid;
        outline: none;
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 3px;
    }
    textarea {
        height: 80px;
    }
    .inner-center-horizon-div {
        width: 80%;
    }
}

@media (min-width:320px) and (max-width:719px) {
    .about-grid-about {
        width: 100%;
        height: 20%;
    }
    .about-grid-contact {
        width: 100%;
        height: 80%;
    }
    .about-block-full {
        width: 100%;
        height: 100%;
        background-color: blue;
    }
    .about-block-suspended {
        width: 80%;
        height: 90%;
        border: 2px solid white;
    }
    .over-map {
        height: 100%;
        width: 100%;
    }
    .contact-us {
        height: 85%;
        width: 90%;
        text-align: center;
        border: 2px rgb(211, 211, 211) solid;
        transition: transform 250ms, border 300ms ease-in-out;
        border-radius: 2px;
        display: block;
        overflow: hidden;
    }
    .contact-us h2 {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: white;
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.596);
    }
    .about-paragraph {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        color: white;
        padding-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
    }
    .contact-form {
        padding-top: 10%;
        height: 100%;
        width: 100%;
        display: block;
        background-color: rgba(0, 0, 0, 0.425);
    }
    .contact-form-input {
        display: block;
        width: 100%;
        margin-bottom: 5%;
        text-align: left;
    }
    .contact-form-input label {
        display: block;
        width: 80%;
        font-family: 'Lato', sans-serif;
        color: white;
        font-weight: 100;
        margin-bottom: 3%;
        font-size: 20px;
    }
    .contact-form-input input[type=text], textarea {
        width: 100%;
        height: 25px;
        border: none;
        background-color: transparent;
        border-bottom: 1px white solid;
        outline: none;
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 3px;
    }
    textarea {
        height: 80px;
    }
    .inner-center-horizon-div {
        width: 80%;
    }
    .center-div-responsive-reverse {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-items: center;
        overflow: hidden;
    }
}