@media(min-width:720px) {
    .navbar-main {
        height: 50px;
        width: 20%;
        right: 0;
        position: fixed;
        z-index: 100;
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .navbar-content {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    .navbar-content :last-child {
        margin-right: 10px;
    }
    .nav-links {
        display: inline-block;
        margin-left: 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 18px;
        padding-bottom: 1px;
        border-bottom: 1px rgba(255, 255, 255, 0) solid;
        transition: border-bottom 500ms;
        color: white;
    }
    .nav-links:hover {
        border-bottom: 1px white solid;
    }
    .nav-links:visited {
        text-decoration: none;
        color: white;
    }
    .nav-links:link {
        text-decoration: none;
        color: white;
    }
}

@media(min-width:320px) and (max-width:560px) {
    .navbar-main {
        height: 25px;
        width: 50%;
        position: fixed;
        right: 0;
        z-index: 100;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgba(0, 0, 0, 0.521);
    }
    .navbar-content {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
    .navbar-content :last-child {
        margin-right: 5px;
    }
    .nav-links {
        display: inline-block;
        margin-left: 5px;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 12px;
        padding-bottom: 1px;
        border-bottom: 1px rgba(255, 255, 255, 0) solid;
        transition: border-bottom 500ms;
    }
    .nav-links:hover {
        border-bottom: 1px white solid;
    }
    .nav-links:visited {
        text-decoration: none;
        color: white;
    }
    .nav-links:link {
        text-decoration: none;
        color: white;
    }
}

@media(min-width:360px) and (max-width:409px) {
    .navbar-main {
        height: 25px;
        width: 50%;
        position: fixed;
        right: 0;
        z-index: 100;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgba(0, 0, 0, 0.521);
    }
    .nav-links {
        display: inline-block;
        margin-left: 5px;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 12px;
        padding-bottom: 1px;
        border-bottom: 1px rgba(255, 255, 255, 0) solid;
        transition: border-bottom 500ms;
    }
    .navbar-content :last-child {
        margin-right: 10px;
    }
}

@media(min-width:410px) and (max-width:650px) {
    .navbar-main {
        height: 25px;
        width: 45%;
        position: fixed;
        right: 0;
        z-index: 100;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: rgba(0, 0, 0, 0.75);
    }
    .nav-links {
        display: inline-block;
        margin-left: 5px;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 12px;
        padding-bottom: 1px;
        border-bottom: 1px rgba(255, 255, 255, 0) solid;
        transition: border-bottom 500ms;
    }
    .navbar-content :last-child {
        margin-right: 11px;
    }
}

@media(min-width: 700px) and (max-width:770px) {
    .navbar-main {
        width: 35%;
    }
    .navbar-content :last-child {
        margin-right: 10px;
    }
}

@media(min-width: 1200px){
    .navbar-main {
        width: 20%;
    }
    .navbar-content :last-child {
        margin-right: 10px;
    }
}

@media(min-width: 1400px){
    .navbar-content :last-child {
        margin-right: 15px;
    }
}

@media(min-width: 1600px){
    .navbar-main {
        width: 18%;
    }
    .navbar-content :last-child {
        margin-right: 15px;
    }
}

@media(min-width: 1900px){
    .navbar-main {
        width: 15%;
    }
    .navbar-content :last-child {
        margin-right: 15px;
    }
}