* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    font-weight: 100;
    color: white;
}

@media(min-width:560px) {
    h1 {
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        font-weight: 100;
        color: white;
    }
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.section {
    width: 100%;
    height: 100%;
}

.center-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-horizon-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.shadow-light {
    background-color: rgba(0, 0, 0, 0.30);
    z-index: 10;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.651);
    z-index: 10;
}

.shadow-strong {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

#main-section {
    background-color: rgb(235, 223, 223);
    background-image: url('../imgs/header-img.jpg');
    background-size: 100%, 100%;
    background-attachment: fixed;
}

#services-section {
    background-color: rgb(204, 204, 204);
    background-image: url('../imgs/services-img.jpg');
    background-attachment: fixed;
}

#about-section {
    background-color: rgb(104, 104, 104);
    background-image: url('../imgs/maps.PNG');
    background-size: 100%;
    background-attachment: fixed;
    overflow: hidden;
}

@media(min-width:320px) and (max-width:560px){
    .responsive-header{
        display: block;
        text-align: left;
        width: 100%;
        margin-left: 10%;
        font-size: 25px;
    }
}